<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>settings</title>
    <link rel="stylesheet" href="./../static/css/signup.css">
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
<h2>Settings</h2>
<form action="{% url 'profile_edit' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button style="width: 80px; margin-left: 150px; margin-top: 20px; background-color: lightblue;" type="submit">
        Upload!
    </button>
    {% endbuttons %}
</form>

{% endblock %}
</html>
