.cards {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.card {
    height: 240px;
    width: 1000px:
    border: 1px solid black;
    display: flex;
    gap: 20px;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.avatar {
    width: 80%;
    height: 80%;
    border: 1px solid black;
}

.card-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descr-down {
    display: flex;
    gap: 30px;
}

.card-tags {
    display: flex;
    gap: 5px;
}
