<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ask</title>
    <link rel="stylesheet" href="./../static/css/ask.css">
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

{% extends 'layouts/base.html' %}
{% load static %}

{% block ask-button %}
{% include 'layouts/ask_button.html' %}
{% endblock %}

{% block profile %}
{% include 'layouts/profile_loged_in.html' %}
{% endblock %}

{% block content %}
<h2>New Question</h2>
    <div class="new-ques-title">
      <label style="width: 40px;" for="new_ques_title">Title</label>
      <input id="new_ques_title" style="width: 1000px;" maxlength="300"></input>
    </div>
    <div class="new-ques-text">
      <label style="width: 40px;">Text</label>
      <textarea  rows="20" style="width: 1000px;" maxlength="1500"></textarea>
    </div>
    <div class="new-ques-tags">
      <label style="width: 40px;">Tags</label>
      <div style="display: flex; flex-direction: column; width: 100%;">
        <input type="text" style="width: 1000px;" maxlength="200">
        <div style="color: red;">Sorry, you can use only 3 tags.</div>
      </div>
    </div>
    <button style="width: 60px; margin-left: 65px;">ASK!</button>
{% endblock %}
</html>
