<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="./../static/css/index.css">
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

{% extends 'layouts/base.html' %}
{% load static %}

{% block ask-button %}
{% include 'components/ask_button.html' %}
{% endblock %}

{% block content %}
<div class="content-head" style="display: flex; gap: 30px">
    <h1>New Questions</h1>
    <a href="{% url 'hot' %}" style="margin-top:auto; margin-bottom: auto;">Hot questions</a>
</div>
{% for question in questions %}
{% include 'components/one_question.html' %}
{% endfor %}
{% include 'components/pagination.html' %}
{% endblock %}
</html>
