<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="./../static/css/login.css">
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

{% extends 'layouts/base.html' %}

{% load static %}

{% load bootstrap5 %}


{% block content %}
<h2>Log In</h2>

<div class="col-5">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" style="width: 60px; margin-left: 80px">Log in!</button>
        {% endbuttons %}
    </form>
    <a href="{% url 'signup' %}" style="margin-left: 80px">create new account</a>
</div>
{% endblock %}
</html>
