<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>question</title>
    <link rel="stylesheet" href="./../static/css/base.css">
    <link rel="stylesheet" href="./../static/css/question.css">
</head>
<body>

{% extends 'layouts/base.html' %}
{% load static %}

{% block ask-button %}
{% include 'layouts/ask_button.html' %}
{% endblock %}

{% block profile %}
{% include 'layouts/profile_loged_out.html' %}
{% endblock %}

{% block content %}
<div class="question">
    <div class="ques-left">
        <div class="ques-avatar">
            <img src="{% static 'img/giraf.jpg' %}" alt="avatar" style="height: 100%; width: 100%">
        </div>
        <input class="form-control" type="number" value="{{ question.likes_num }}" placeholder="Default input"
               aria-label="default input example" style="width: 50px">
    </div>
    <div class="ques-right">
        <h2>{{ one_question.title }}</h2>
        <div>{{ one_question.text }}</div>
        <div class="ques-tags">Tags:
            <a href="{% url 'tag' %}">{{ one_question.tag.name }}</a>
            <a href="{% url 'tag' %}">{{ one_question.tag.name }}</a>
            <a href="{% url 'tag' %}">{{ one_question.tag.name }}</a>
        </div>
    </div>
</div>
{% for answer in answers %}
{% include 'layouts/one_answer.html' %}
{% endfor %}
{% include 'layouts/pagination.html' %}
<div class="add-ans-form" style="margin-bottom: 40px">
    <textarea class="form-control" rows="10" cols="100%" placeholder="Enter your answer here."></textarea>
    <button class="add-ans-btn" style="margin-top: 10px">Answer</button>
</div>
{% endblock %}
