<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="./../static/css/index.css">
    <link rel="stylesheet" href="./../static/css/base.css">
</head>

{% extends 'layouts/base.html' %}
{% load static %}

{% block ask-button %}
    {% include 'layouts/ask_button.html' %}
{% endblock %}

{% block profile %}
    {% include 'layouts/profile_loged_in.html' %}
{% endblock %}

{% block content %}
<div class="content-head" style="display: flex; gap: 30px">
    <h1>Tag: bender</h1>
</div>
{% for question in tag_questions %}
  {% include 'layouts/one_question.html' %}
{% endfor %}

{% endblock %}
</html>
